@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<p>This all started with a desire to live a healthy lifestyle. We were disappointed with the amount of man-made ingredients everywhere we looked. Our promise is simple ingredients without the extra.</p>